html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

img{
	max-width: 100%;
}

.wrapper{
	max-width: 1440px;
	min-width: 360px;
	margin: 0 auto;
	border: 1px solid red;
	background-image: linear-gradient(180deg, rgba(53, 66, 103, 0.00) 0%, #151824 100%), url("/static/image/bg.png");
	background-color: white;
	background-repeat: no-repeat;
	/* background-size: contain; */
	/* background-attachment: fixed; */
	/* ! Для отрисовки градиента в заднем фоне пришлось задать размер */
	background-size: 1440px 962px;
	
}

.wrapper header{
	max-width: 1060px;
	margin: 56px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-shrink: 0;
}

.wrapper .navBar{
	
}

.wrapper .navBar ul{
	display: flex;
	flex-direction: row;
}

.wrapper .navBar li{
	margin-left: 82px;
}

.wrapper .navBar li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.wrapper .headerAbout{
	margin-top: 176px;
	margin-left: 191px;
	max-width: 1262px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

}

.wrapper .headerAbout h1{
	max-width: 619px;
	font-size: 50px;
	color: white;
	line-height: 65px;
	margin-bottom: 22px;
}

.wrapper .headerAbout p{
	max-width: 546px;
	color: #FFF;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 59px;
}

.wrapper .SearchForm{
	margin-left: 191px;
	margin-bottom: 153px;
	max-width: 1262px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}

.wrapper .SearchForm .QLike{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.wrapper .SearchForm .QLike:nth-child(2){
	margin-left: 62px;
}

.wrapper .SearchForm .QLike label{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	color: #FFF;
	background: url("/static/image/Oval.svg");
	background-repeat: no-repeat;
	padding-left: 43px;
	margin-bottom: 0px;

}
.wrapper .SearchForm .QLike input{
	width: 297px;
	font-size: 22px;
	color: #FFF;
	background: none;
	border: none;
	border-bottom: 3px solid #BFC0C5;
}

.wrapper .SearchForm button{
	margin-left: 60px;
	width: 171px;
	height: 58px;	
	background-color: #1B7DFF;
	color: #FFF;
	font-size: 24px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.wrapper .Card{
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 131px;
	max-width: 1262px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
}

.wrapper .Card h2{
	padding-left: 99px;
	padding-top: 93px;
	padding-bottom: 120px;
	color: #102746;
	font-size: 35px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.wrapper .Card .LearnMoreBlockWraper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 112px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock{
	max-width: 317px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock img{
	margin-bottom: 37px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock h3{
	color: #000;
	font-size: 18px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 26px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock p{
	color: #000;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 39px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock a{
	text-decoration: none;
	background: url("/static/image/Shape.svg");
	background-repeat: no-repeat;
	background-size: 33px 8px;
	background-position: 128px 6px;
	color: #006DFE;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding-right: 59px;
}

.wrapper .GetInspiredSection .GetInspiredSectionOneLine a{
	text-decoration: none;
	background: url("/static/image/Shape.svg");
	background-repeat: no-repeat;
	background-size: 33px 8px;
	background-position: 98px 6px;
	color: #006DFE;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding-right: 59px;
}